.services {
    padding: 30px 0 60px 0;
    @media (min-width: $breakpoint-md) {
        padding: 60px 0;
    }
    
    &__container {

    }

    &__title {
        margin: 10px 0 0 0; 
        // @include title (700, 30px, 36px, $white-color);
        // @include gradient-text;
        // @media (min-width: $breakpoint-md) {
        //     font-size: 38px;
        //     line-height: 46px;
        // }
    }

    &__list {
 
        @media (min-width: $breakpoint-md) {
            display: flex;
            flex-flow: wrap;
            justify-content: center;
            align-items: flex-start;
            padding: 60px 0 60px 0;
            gap: 60px;
        }
    
    }
 
    &__item {
        margin: 30px 0 0 0;
        @media (min-width: $breakpoint-md){
            margin: 0;
            flex: 1 1 50%;
        }
        @media (min-width: $breakpoint-md){
            flex: 1 1 28%;
        }
    }

    &__image {
        width: 92px;
        height: 92px;
        background: $white-color;
        border-radius: 24px;
        position: relative;
        
        svg {
            display: block;
             width: 92px;
             height: 92px;   
             position: absolute;
             top: 0;
             left: 0;
             fill: #000;
        }

    }

    &__subtitle {
        margin: 30px 0 15px 0;
        a {
            text-decoration: none;
            @include title (700, 22px, 27px, $regular-color);
            &:hover {
                color: $accent-color;
            }

        }
    }

    &__text {
        color: $white-color;
    }
}

.service-personal-page {
    padding: 30px 0 30px 0;
    @media (min-width: $breakpoint-md) {
        padding: 60px 0 0 30px 0;;
    }
    p + p {
        margin-top: 30px;
    }
    
    &__container {
        @media (min-width: $breakpoint-xl) {
            width: 1080px;
        }
        @media (min-width: $breakpoint-xxl) {
            width: 1360px;
        }   
    }

    &__image {
        margin: 0 auto;
    }

    &__title {
        margin: 30px 0; 
        text-align: center;
    }

    &__text {
        font-size: 19px;
        line-height: 30px;
        text-align: center;
    }
}

.services-list {
    padding-top: 30px;
    @media (min-width: $breakpoint-md) {
        padding-top: 60px;
    }

    color: $white-color;



    &__container {
        @media (min-width: $breakpoint-xl) {
            width: 1080px;
        }
        @media (min-width: $breakpoint-xxl) {
            width: 1360px;
        }   
    }

    &__box {
        padding-top: 30px;
        padding-bottom: 60px;
        border-top: 4px solid rgba(255, 255, 255, 0.5);  
    }

    &__title {
        @include title (700, 22px, 27px, $white-color);

    } 

    &__flex {
        @media (min-width: $breakpoint-md) {
            display: flex;
            gap: 60px;
        }
    }

    &__list {
        margin-top: 30px;
        display: flex;
        flex-flow: column;
        gap: 15px;
        @media (min-width: $breakpoint-md) {
            flex: 1 1 40%;
        }


    }

    &__item {
        padding-left: 15px;
        position: relative;
        &::before {
            content:'';
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: $accent-color;
            position: absolute;
            top: 12px;
            left: 0;
        }


    }

    &__text {
        font-size: 18px;
    }
}

